$border-color1: #333;
$border-color2: rgb(51, 51, 51);
$border-color3: #5B2C6F;
$border-color4: #FFC300;
$background1: #DAF7A6;
$background2: #A6F7C3;
$background3: #A6F7EB;
$background4: #A6DAF7;
$background5: #063970;
$background6: #1d7aa6;
$background7: #482b23;
$background8: #cdb896;
$background9: #e98d40;
